
  .personal-introduction__container{
   text-align: left;
   font-size:48px;
   padding:108px;
   padding-bottom: 0;
   .text {padding:40px 0}
   .container {
      position: relative;
      margin-bottom:48px;
      .confetti {
         font-size: 64px;
         >.particle {
            opacity:0;
            position: absolute;
            animation: confetti 3s ease-in infinite;
            &.c1 {
               background-color:rgba(216, 213, 109, 0.5);
            }
            &.c2 {
               background-color:rgba(156,39,176,0.5);
            }
         }
      }
   }
   .brief-intro{
      font-size: 36px;
      >span{
         display: block;
      }
   }
   .detail-info{
      font-size: 24px;
      >div{
         margin:16px 0 ;
      }
   }
   .intro-footer{
      font-size: 16px;
   }
   .skills{
      margin: 48px 0;
      display: flex;
      font-size: 48px;
   }
   .skill-card{
      background: #638772;
      color: #dfe8e3;
      font-size: 32px;
      text-align: center;
      font-family: monospace;
   }
 
  }
@keyframes confetti {
  0% {
     opacity:0;
     transform:translateY(0%) rotate(0deg);
  }
  10% {
     opacity:1;
  }
  35% {
     transform:translateY(-800%) rotate(270deg);
  }
  80% {
     opacity:1;
  }
  100% {
     opacity:0;
     transform:translateY(2000%) rotate(1440deg);
  }}

@keyframes bounce {
   0%{
      transform:translateY(30px);
   }
   100%{
      transform:translateY(0px);

   }
}
